p {
    font-family: verdana;
    text-align: center;
}

nav a {
    color: purple;
    font-size: 20px;
    text-align: center;
}
#nav {
    width: 20%;
}

#logo {
    width: 80%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#banner {
    width:100%;
    z-index: -9999;
}

.center{
    text-align: center;
}
<<<<<<< HEAD

.left{
    float: right;
=======
.topspace{
  margin-top: 2%;
}
.right{
  float: right;
>>>>>>> refs/remotes/Freshmen15/master
}

#main {
    margin-left:20%;
}

.photos {
<<<<<<< HEAD
    width:100%;
    height: 400px;
=======
 width:100%;
 height: 400px;
>>>>>>> refs/remotes/Freshmen15/master

}

ul{
    list-style-type: none;
}

footer {
    font-size: 20px;
}
